<%- include('../../components/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xxl-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title"><%= restaurant ? 'Editar' : 'Crear' %> Restaurante</h5>
                    <form class="needs-validation" method="post" action="<%= restaurant ? '/restaurants/' + restaurant.id + '/edit' : '/restaurants/create' %>">
                        <% if (errors) { %>
                            <div class="alert alert-warning">
                                <%= errors.message %>
                            </div>
                        <% } %>
                        <div class="mt-2 has-validation">
                            <label>Nombre</label>
                            <input required class="form-control" type="text" name="nombre" placeholder="Nombre" value="<%= restaurant ? restaurant.nombre : '' %>">
                            <% if (errors?.nombre) { %>
                                <div class="error-label">
                                    Por favor ingrese un nombre
                                </div>
                            <% } %>
                        </div>
                        <div class="mt-2">
                            <label>Descripción</label>
                            <input required class="form-control" type="text" name="descripcion" placeholder="Descripción" value="<%= restaurant ? restaurant.descripcion : '' %>">
                            <% if (errors?.descripcion) { %>
                                <div class="error-label">
                                    Por favor ingrese una descripción
                                </div>
                            <% } %>
                        </div>
                        <div class="mt-2">
                            <input class="btn btn-primary" type="submit" value="<%= restaurant ? 'Actualizar' : 'Crear' %>">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../components/footer.ejs') %>
